<section class="footer py-4 text-center">
    <div class="container p-2 ">
        <div class="row ">
            <div class="col-md-12 col-lg-4  ">
                 <div  class="p-2 text ">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive </p>
                    <p>Clark, MO 65243</p>
                 </div>
            </div>


            <div class="col-md-12 col-lg-4  ">
                <div class=" text " >
                    <h3>AROUND THE WEB  </h3>
                   <div class="icon d-flex  justify-content-center text-white  p-4 "> 
                    <i class="fa-brands fa-facebook px-3 border border-1 rounded-circle p-2 m-1"></i>
                    <i class="fa-brands fa-twitter px-3 border border-1  rounded-circle p-2 m-1"></i>
                    <i class="fa-brands fa-instagram px-3 border border-1 rounded-circle p-2 m-1"></i>
                    <i class="fa-solid fa-globe px-3 border border-1 rounded-circle  p-2 m-1"></i>

                   </div>
                </div>

           </div>


           <div class="col-md-12 col-lg-4  ">
            <div class="p-2 text" >
               <h3>ABOUT FREELANCE</h3>
               <p>Freelance is a free to use, licensed<br> Bootstrap theme created by Route</p>
               
            </div>

       </div>

        </div>
    </div>
</section>
