<section class="about py-5 text-center text-white">
    <div class="container py-5">
        <div class="row d-flex">
          
                <div>
                   <h2>about component</h2>
                   <div class="about-star d-flex justify-content-center align-items-center">
                    <div class="about-sater"></div>
                    <div><i class="fa-solid fa-star"></i></div>
                    <div class="about-sater"></div>
                   </div >
                   <!-- content -->
               <div class="row ">
                
                <div class="col-lg-6 ">
                    <p >Freelancer is a free bootstrap theme created by <br> Route. The download includes the complete source <br>files including HTML, CSS, and JavaScript as well as <br> optional SASS stylesheets for easy customization.</p>

                   </div>
                   <div class="col-lg-6 ">
                    <p >Freelancer is a free bootstrap theme created by <br> Route. The download includes the complete source <br>files including HTML, CSS, and JavaScript as well as <br> optional SASS stylesheets for easy customization.</p>
                   </div>
               </div>

            
            </div>
        </div>
    </div>
</section>
<!-- <p >Freelancer is a free bootstrap theme created by <br> Route. The download includes the complete source <br>files including HTML, CSS, and JavaScript as well as <br> optional SASS stylesheets for easy customization.</p> -->
