
<section class="start ">
<div class="container text-center">
    <div class="row">
      <div class="col-md-6  col-lg-12">       

            <img src="../../assets/avataaars_converted_white_bg.jpg" alt="boy" class=" rounded-circle mb-3" >
            <h2 class="py-3 text-white">start Framework</h2>
            <div class="about-star d-flex justify-content-center align-items-center fs-5">
                <div class="about-sater"></div>
                <div><i class="fa-solid fa-star text-white"></i></div>
                <div class="about-sater"></div>
                
               </div >
               <div class="text-white py-3">Graphic Artist - Web Designer - Illustrator
            </div>
               <div></div>


      </div>
    </div>
</div>



</section>