<section class="contact py-5 ">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <div class="header text-center py-2">
                  <h2 class="fw-5 fw-3">contact section</h2>
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="header-sater "></div>
                    <div><i class="fa-solid fa-star"></i></div>
                    <div class="header-sater"></div>
                </div>
                   <form  class=" align-items-center ">
           
                          <input type="text" placeholder="username" class="d-block mb-5  mx-auto w-50  border-0 border-bottom form-control  ">
                        <input type="number" placeholder="userage" class="d-block mb-5 mx-auto w-50  border-0 border-bottom form-control">
                        <input type="email" placeholder="useremail" class="d-block mb-5 mx-auto w-50 border-0 border-bottom form-control">
                        <input type="password" placeholder="userpassword" class="d-block mb-5 mx-auto w-50 border-0 border-bottom form-control">
                        <button class="d-block  mx-auto p-3  " >send massage</button>


                 
                   </form>

                </div>
            </div>
        </div>
    </div>
</section>
