<section class="py-5">
    <div class="container py-4">
        <div class="row">
            
            <div class="header text-center py-2">
                <h2 class="fw-5 fw-3 py-2">portfolio component</h2>
                <div class="d-flex justify-content-center align-items-center py-3">
                  <div class="header-sater "></div>
                  <div><i class="fa-solid fa-star"></i></div>
                  <div class="header-sater"></div>
              </div>
<div class="row g-2">
    <div class="col-lg-4">
        <div class="card">
            <img src="assets/poert1.png" alt="">
            <div class="overlay">
                <i class="fa-solid fa-plus" class="icon"></i>
            </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <img src="assets/port2.png" alt="">
                <div class="overlay">
                    <i class="fa-solid fa-plus" class="icon"></i>
                </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card">
                    <img src="assets/port3.png" alt="" >
                    <div class="overlay">
                        <i class="fa-solid fa-plus" class="icon"></i>
                    </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/poert1.png" alt="">
                        <div class="overlay">
                            <i class="fa-solid fa-plus" class="icon"></i>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/port2.png" alt="">
                            <div class="overlay">
                                <i class="fa-solid fa-plus" class="icon"></i>
                            </div>
                            </div>
                        </div>


                        
            <div class="col-lg-4">
                <div class="card">
                    <img src="assets/port3.png" alt="">
                    <div class="overlay">
                        <i class="fa-solid fa-plus" class="icon"></i>
                    </div>
                    </div>
                </div>


</div>
           
                
                


            </div>
        </div>
    </div>
</section>
