.header-sater{
    width:90px;
    height:2px;
    background-color: #2C3E50
    ;
}
h2{
    color: #2C3E50    ;
    font-size: 50px;
    font-weight: 900;
}

.card {
    position: relative;
    display: inline-block;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1ABC9C;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
    z-index: 565;
}
